header{
	display: inline;
}

#top-bar{
	height: 80px;
	background-color: black;
	display: flex;
	border-radius: 20px;
}

#top-bar img{
	height: 70px;
	margin-left: 10px;
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-top: 5px;

}

#menu a{
	color: white;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	vertical-align: middle;
    display: table-cell;
    height: 60px;
}

#menu a:hover{
	background-color: grey;
}

#menu ul{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 10px;
	vertical-align: middle;
	height:70px;
}

#menu li{
	display: inline;
}

#logo{
	flex: 1;
	display: inline-block;
}

#logo h2{
	color: white;
	padding-left: 20px;
	vertical-align: middle;
    display: inline-block;
}

#menu{
	display: table-cell;
}